In [1]:
import pandas as pd

In [2]:
import re

In [3]:
print(pd.__version__)

1.5.3

In [4]:
# df_abusive = pd.read_csv('D:/Binar/Challenge/BinarChallenge1/AssetChallenge/abusive.csv')
df_abusive = pd.read_csv("abusive.csv")

In [5]:
df_abusive.head()

   ABUSIVE
0     alay
1    ampas
2     buta
3  keparat
4   anjing

In [14]:
df_abusive.shape

(125, 1)

In [ ]:
# visualisasi kata-kata kasar

""" 
buat visualisasi kata-kata kasar, berikut rules nya:
Rules:
1) baca seluruh rows, hitung jumlah kata yang mengandung alay
2) looping keseluruh value data ["alay, ampas, ....., n]
3) setelah didapat setiap value nya, baru count()
4) buat visualisasi
"""

Note perbaikan: abusive di remove, bukan di replace
1) buat fungsi censor(remove)
2) perbaiki for abusivearr in abusiveword: bisa liat di recording atau di repository ku folder Code request

In [67]:
# buat fungsi untuk menyensor kata kasar

def censor(replaceword):
    abusiveword = df_abusive['ABUSIVE'].tolist()
    abusivearr = []
    for i, df_abusive in enumerate(abusiveword):
        abusivearr.append(df)
        for abusivearr in abusiveword:
            replaceword = re.sub(abusivearr, '*', * len(word), flags=re.IGNORECASE)
            print(f"Forbidden word REMOVED: {word}")
    return replaceword

In [68]:
print(censor)

<function censor at 0x000001CBB27FCA40>

In [41]:
# def censor(replaceword):
#     for word in abusiveword:
#         pattern = r"\b{}\b".format(word)
#         if re.search(pattern, replaceword, re.IGNORECASE):
#             replaceword = re.sub(pattern, '*' * len(word), replaceword, flags=re.IGNORECASE)
#             print(f"Forbidden word REMOVED: {word}")
#     return replaceword

In [69]:
abusiveword = df_abusive['ABUSIVE']

In [71]:
def censor(replaceword):
    abusiveword = df_abusive['ABUSIVE'].tolist()
    abusivearr = []
    for word in abusiveword:
        replaceword = re.sub(abusiveword, '*', * len(word), flags=re.IGNORECASE)
        print(f"Forbidden word REMOVED: {word}")
    return replaceword

In [72]:
print(censor)

<function censor at 0x000001CBB26767A0>

In [60]:
# load data kamus alay

df_kbbi = pd.read_csv('D:/Binar/Challenge/BinarChallenge1/AssetChallenge/new_kamusalay.csv', encoding='latin-1', header=None)

In [15]:
# code perbaikan
# alay_dict = pd.read_csv('new_kamusalay.csv', encoding='latin-1', header=None)
# alay_dict = alay_dict.rename(columns={0: 'original', 
#                                       1: 'replacement'})

# alay_dict

                  original                        replacement
0      anakjakartaasikasik           anak jakarta asyik asyik
1             pakcikdahtua                  pak cik sudah tua
2           pakcikmudalagi                  pak cik muda lagi
3              t3tapjokowi                       tetap jokowi
4                       3x                          tiga kali
...                    ...                                ...
15162            mendikbud  menteri pendidikan dan kebudayaan
15163               mendag                menteri perdagangan
15164              menaker               menteri tenaga kerja
15165             memetwit                            mentwit
15166             megangin                           memegang

[15167 rows x 2 columns]

In [61]:
# buat header columns
# Good
df_kbbi.columns = ['TIDAKBAKU', 'BAKU']

In [62]:
df_kbbi.head()

             TIDAKBAKU                      BAKU
0  anakjakartaasikasik  anak jakarta asyik asyik
1         pakcikdahtua         pak cik sudah tua
2       pakcikmudalagi         pak cik muda lagi
3          t3tapjokowi              tetap jokowi
4                   3x                 tiga kali

In [63]:
df_kbbi.describe()

                  TIDAKBAKU   BAKU
count                 15167  15167
unique                15167   8639
top     anakjakartaasikasik   wkwk
freq                      1    100

In [ ]:
# buat fungsi untuk mereplace kalimat non baku menjadi baku

#### Good lanjutkan code nya, kalau ada update di push ke github ya biar bisa di cek

In [ ]:
# untuk mensensor kalimat abusive
import re

abusive = ["bajingan", "bangsat", "goblok", "ampas", "kampret", "tolol"]

def censor_abusive(text):
    for word in abusive:
        pattern = re.compile(r'\b{}\b'.format(word))
        length = len(word)
        if length > 2:
            replacement = word[0] + '*' * (length - 2) + word[-1]
        else:
            replacement = '*' * length
        text = pattern.sub(replacement, text.lower())
    return text

In [ ]:
censor_abusive("bajingan bener kamu ya")