In [32]:
import pandas as pd

In [33]:
import re

In [34]:
print(pd.__version__)

1.5.3

In [64]:
df_abusive = pd.read_csv('D:/Binar/Challenge/BinarChallenge1/AssetChallenge/abusive.csv')

In [65]:
df_abusive.head()

   ABUSIVE
0     alay
1    ampas
2     buta
3  keparat
4   anjing

In [66]:
df_abusive.shape

(125, 1)

In [38]:
# visualisasi kata-kata kasar

In [67]:
# buat fungsi untuk menyensor kata kasar

def censor(replaceword):
    abusiveword = df_abusive['ABUSIVE'].tolist()
    abusivearr = []
    for i, df_abusive in enumerate(abusiveword):
        abusivearr.append(df)
        for abusivearr in abusiveword:
            replaceword = re.sub(abusivearr, '*', * len(word), flags=re.IGNORECASE)
            print(f"Forbidden word REMOVED: {word}")
    return replaceword

In [68]:
print(censor)

<function censor at 0x000001CBB27FCA40>

In [41]:
# def censor(replaceword):
#     for word in abusiveword:
#         pattern = r"\b{}\b".format(word)
#         if re.search(pattern, replaceword, re.IGNORECASE):
#             replaceword = re.sub(pattern, '*' * len(word), replaceword, flags=re.IGNORECASE)
#             print(f"Forbidden word REMOVED: {word}")
#     return replaceword

In [69]:
abusiveword = df_abusive['ABUSIVE']

In [71]:
def censor(replaceword):
    abusiveword = df_abusive['ABUSIVE'].tolist()
    abusivearr = []
    for word in abusiveword:
        replaceword = re.sub(abusiveword, '*', * len(word), flags=re.IGNORECASE)
        print(f"Forbidden word REMOVED: {word}")
    return replaceword

In [72]:
print(censor)

<function censor at 0x000001CBB26767A0>

In [60]:
# load data kamus alay

df_kbbi = pd.read_csv('D:/Binar/Challenge/BinarChallenge1/AssetChallenge/new_kamusalay.csv', encoding='latin-1', header=None)

In [61]:
# buat header columns

df_kbbi.columns = ['TIDAKBAKU', 'BAKU']

In [62]:
df_kbbi.head()

             TIDAKBAKU                      BAKU
0  anakjakartaasikasik  anak jakarta asyik asyik
1         pakcikdahtua         pak cik sudah tua
2       pakcikmudalagi         pak cik muda lagi
3          t3tapjokowi              tetap jokowi
4                   3x                 tiga kali

In [63]:
df_kbbi.describe()

                  TIDAKBAKU   BAKU
count                 15167  15167
unique                15167   8639
top     anakjakartaasikasik   wkwk
freq                      1    100

In [ ]:
# buat fungsi untuk mereplace kalimat non baku menjadi baku